*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagens/background.jpg);
    background-color: #363636;
    background-position-x: -200px;
    position: relative;
    background-repeat: no-repeat;
}

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

div.menus{
    width: 1920px;
    height: 100px;
}

.imglogo{
    float:left;
}

nav.menu{
    padding-top: 20px;
    padding-left: 1050px;
    position: fixed;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

a:hover{
    transition: 0.4s;
    border-radius: 10px;
    background-color: #228B22;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

nav ul{
    margin-left:200px ;
    width: 330px;
    height: 50px;
    background: radial-gradient(#32CD32,  	#00FF00);
    border-radius: 30px 0 30px 0;
}

img.imgInicial{
    float: left;
    width: 700px;
    height: 400px;
    padding-left: 300px;
    margin-top: 300px;
}

div.inicial{
    margin-top: 250px;
    margin-left: 1000px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:bisque;
    
}

span.coloridoInicial{
    color: purple;
}

span.coloridoInicial2{
    color: pink;
}

span.coloridoInicial3{
    color: aqua;
}

div.box{
    margin-top: 150px;
    margin-left: 380px;
    width: 400px;
    height: 450px;
    background-color: wheat;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 10px 15px 5px black;
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
}

div.box2{
    margin-top: 150px;
    margin-right: 380px;
    float: right;
    width: 400px;
    height: 450px;
    background-color:  	#EEE8AA;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 10px 15px 5px black;
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
}

p.ebom{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 170px 0px 20px;
    color: black;
    text-align: justify;
}

p.ebom2{
    font-size: 18px;
    text-align: justify;
    margin: 20px 0px 0px 20px;
}

img.imgBox2{
    float: right;
    width: 200px;
    height: 200px;
    margin: 15px 0 0 0px;
    max-width: 100%;
    max-height: 100%;
}

.btn{
    display: inline-block;
    background: radial-gradient(#00FF00, #32CD32);
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background 0.5;
    margin-left: 20px;
    margin-top: 25px;

    max-width: 100%;
    max-height: 100%;
}

.btn:hover{
    background: #228B22;
}

div.box3{
    margin-top: 200px;
    margin-left: 380px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    height: 450px;
    background-color: #FFEBCD;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 10px 15px 5px black;
    text-align: justify;
}

div.box4{
    margin-top: 200px;
    margin-right: 380px;
    float: right;
    width: 400px;
    height: 450px;
    background-color:  	 	#FFFACD;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 10px 15px 5px black;
    text-align: justify;
}

.dellvale{
    color:crimson;
}

.dellvalenutri{
    color: hotpink;
}

.dellvalekapo{
    color:lime
}

.dellvalefruit{
    color: gray;
}
html{
    scroll-behavior: smooth;
}

.conteudo{
    margin-top: 150px;
    margin-left: 180px;
    width: 1500px;
    height: 450px;
    background-color: salmon;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 10px 15px 5px crimson;
    color: whitesmoke;
    font-size: 18px;
    padding: 20px 10px 5px 20px;
    max-width: 200%;
    max-height: 200%;
}

.corzinhaBene{
    color: lime;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    width: 1200px;
    height: 100px;
    background: radial-gradient(#111111 , #000000);
    margin-left: -200px;
    font-size: 18px;
    padding-top: 100px;
    padding-left: 930px;
    color: whitesmoke;
    margin-top: 150px;
}

.sobre4{
    color: beige;
    font-size: 25px;
    text-align: center;
    margin-top: 600px;
}

.produtos{
    margin-top: 400px;
    color: beige;
    text-align: center;
    font-size: 25px;
}

.ancora{
    width: 50px;
    height: 50px;
    float: left;
}


/*ipad ipadOS*/
@media screen and (min-width: 810px) and (max-width: 1080px) {
    
    div.menus {
        height: auto;
    }

    .imglogo {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    
    nav.menu {
        text-align: center;
        padding-left: 0;
    }

    nav ul {
        width: auto;
        margin-left: 0;
        text-align: center;
        background: none;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 20px; 
    }

    
    img.imgInicial {
        width: 100%;
        max-width: 600px; 
        margin: 50px auto; 
    }

    
    div.inicial {
        margin-top: 300px;
        margin:auto; 
        font-size: 30px;
        text-align: center;
    }

    
    
    .box3 {
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
        float: none;
        text-align: center;
        display: block;

    }

    
    p.ebom {
        margin: 0 20px; 
        font-size: 18px;
    }

    p.ebom2 {
        margin: 20px;
        font-size: 16px; 
    }

    
    .conteudo {
        margin: 20px auto; 
        width: 600px;
        max-width: 100%;
        height: 600px;
        padding: 20px;
    }

    
    footer {
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    

    .box2, .box{
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
        text-align: center;
        float: left;
        display: block;
    }

    body{
        background: none;
        background-color: gray;
    }

    @media screen and (min-width: 810px) and (max-width: 1080px) {
        body {
            background-image: none;
            background-color: gray;
        }

        nav.menu {
            text-align: center;
        }

        nav.menu ul {
            display: flex;
            justify-content: center;
            list-style: none;
            margin-top: 20px;
        }

        nav.menu ul li {
            margin: 0 20px;
        }

        img.imgInicial {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            display: block;
        }

        div.inicial {
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
        }

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .box, .box2, .box3, .box4 {
            width: 45%;
            float: left;
            margin: 20px 2.5%;
            text-align: center;
            background-color: wheat;
            border-radius: 10px;
            box-shadow: 0 10px 15px 5px black;
            padding: 20px;
        }

        .box img, .box2 img, .box3 img, .box4 img {
            width: 100%;
            max-width: 200px;
            height: auto;
            margin-top: 20px;
        }

        p.ebom {
            font-size: 18px;
            margin: 20px 0;
        }

        p.ebom2 {
            font-size: 16px;
            margin: 10px 0;
        }

        .btn {
            display: inline-block;
            background: radial-gradient(#00FF00, #32CD32);
            color: #fff;
            padding: 8px 30px;
            border-radius: 30px;
            transition: background 0.5s;
            margin-top: 20px;
        }

        div.inicial {
            text-align: center;
            font-size: 30px;
            margin-top: 50px; 
        }

        
        nav.menu ul li:first-child a {
            padding: 10px 20px; 
            border-radius: 30px;
            background-color: #228B22;
            color: #fff;
            transition: background 0.4s;
        }

        nav.menu ul li:first-child a:hover {
            background-color: #32CD32;
        }

        footer {
            width: 1000px;
            text-align: center;
            position: static;
            clear: both; 
            margin-top: 20px; 
            padding: 20px 0 0 50px; 
            background: radial-gradient(#111111, #000000);
            color: whitesmoke;
        }

        
       
        div.inicial {
            text-align: center;
            font-size: 30px;
            margin-top: 400px; 
        }

        
        nav.menu {
            width: 100%;
            background: radial-gradient(#32CD32, #00FF00);
            border-radius: 0;
        }
    }
    

}








